/* @import url(fontawesome-free-5.15.4-web/css/all.css);  */
/* @import url(googlefonts/NotoSans-Black.ttf); */
*,
*::before,
*::after{
    margin: none;
    padding: none;
    box-sizing: border-box;
}
/* @font-face {
    font-family: "NotoSans-Black";
    src: url(googlefontsNotoSans-Black.ttf);
} */
html{
    font-weight: 400;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    /* font-weight: 300; */
    font-family: 'Trebuchet MS' sans-serif;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.8),
        rgba(11, 41, 175, 0.8)
    );
}
.header{
    margin-top: 2px;
    height: 90vh;
    /* font-weight: 300; */
    background-color: black;
}
.img{
    position: absolute;
    top: 6rem;
    left: 5rem;
    /* background-color: purple; */
}
#frank{
    height:45rem;
    width: 37rem;
    border-radius: 5%;
}
.heading{
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 6rem;
}
.main---header{
    position: absolute;
    /* margin-top: 30%;
    margin-left: 55%; */
    text-align: center; 
}
.heading--one{
    display: block;
    font-size: 5.5rem;
    margin-left: 40%;
    padding-top: 15%;
    font-weight: lighter;
    /* letter-spacing: 5px; */
    text-transform: capitalize;
    animation: moveInleft;
    animation-duration: 2s;
}
.heading--two{
    display: block;
    font-size: 5.5rem;
    margin-left: 40%;
    /* font-weight: 300; */
    /* letter-spacing: 5px; */
    text-transform: capitalize;
    animation: moveInleft;
    animation-duration: 2s;
}
.heading--three{
    display: block;
    font-size: 5.5rem;
    margin-left: 40%;
    font-weight: lighter;
    /* letter-spacing: 5px; */
    text-transform: capitalize;
    
    animation: moveInleft;
    animation-duration: 2s;
}

@keyframes moveInleft{
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }

    80%{
        transform: translateX(1rem);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

.footer{
    height: 50vh;
    color: #fff;
    background: rgb(194, 22, 22);
}
#side{
    padding-top: 20%;
}