@import url(fontawesome-free-5.15.4-web/css/fontawesome.css);
@import url(googlefonts/NotoSans-Black.ttf);
*,
*::before,
*::after{
    margin: none;
    padding: none;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: ;
}
body{
    font-weight: 400;
    @font-face {
        font-family: ;
        src: url(fontawesome-free-5);
    };
}